<footer class="footer">    
        <div class="container">
                <div class="section-menu">
                    <ul>
                        <li><a href="#">About Us</a></li>            
                        <li><a href="#">Customer Care</a></li>            
                        <li><a href="#">Terms &amp; Conditions</a></li>           
                        <li><a href="#">Privacy Notice</a></li>
                    </ul>            
                </div>
            </div>
        </footer>