.section-menu {
    text-align: center;
    width: 66%;
    margin: auto;
    font-size: 1rem;
}
 li{
    display: inline-block;
    text-decoration: none;
    padding-right: 55px;
}
a {
    color: #fff;
}
.footer {
    left: 0;
    right: 0;
    bottom: 1px;
    background-color: #191919;
    padding: 10px 0;
}
ul{
    padding: 0 0 0 40px;
}